

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bold1-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold1-webfont.woff') format('woff'),
         url('../fonts/gilroy-bold1-webfont.svg#gilroybold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Light.woff2') format('woff2'),
        url('../fonts/Mulish-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Medium.woff2') format('woff2'),
        url('../fonts/Mulish-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('../fonts/Mulish-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zing Rust Demo Base';
    src: url('../fonts/ZingRustDemo-Base.woff2') format('woff2'),
        url('../fonts/ZingRustDemo-Base.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

